

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    width: 1920px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.header {

    margin-bottom: 150px;
    background-color: #fff;
    max-height: 850px;
    height: 850px;
    
    .navbar {
        padding: 30px;
        position: absolute;

        .navbar-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                font: 500 24px "Poppins";
            }

            .logo {
                display: flex;
                justify-content: space-between;
                align-self: center;
                font: normal 600 32px "Poppins";
                padding-right: 20px;
            }

            .navbar-btn {
                border-radius: 30px;
                border: 3px solid #2d76f9;
                color: #2d76f9;
                font: 500 24px/35px "Poppins";

                padding: 10px 20px;
                background-color: rgb(0, 0, 0, 0);

                &:hover {
                    background-color: #2d76f9;
                    color: #fff;
                }
            }
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li + li {
            margin-left: 40px;
        }

        a {
            color: #212121;
            text-decoration: none;

            &:hover {
                color: #2d76f9;

                transition: color 0.2s ease-in;
            }
        }
    }
}

/* HERO */

.hero {
    .hero-row {
        display: flex;
        justify-content: end;
        align-items: center;

        .hero-text {
            .hero-text-title {
                font: normal 600 64px/85px "Poppins";
                color: #212121;
            }

            .heto-text-desc {
                font: normal 400 18px/36px "Poppins";
                color: #747474;
            }

            .hero-text-btn {
                border-radius: 30px;
                border: 2px solid #2d76f9;
                color: #fff;
                font: normal 500 18px/2px "Poppins";
                padding: 10px 20px;
                text-decoration: none;
                background-color: #2d76f9;

                &:hover {
                    background-color: #2a6be5;
                    color: #fff;
                }
            }
        }

        .hero-img {
            height: 850px;
            width: 900px;
            min-width: 900px;

            background: #d6e5fd;
            border-radius: 0 0 0 130px;
        }
    }
}

/* FEATURES */
.features {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;
    .features-block {
        max-width: 400px;
        min-width: 400px;
        min-height: 400px;
        max-height: 400px;

        .features-block-title {
            margin-bottom: 20px;

            font: normal 700 24px/36px "Poppins";

            color: #212121;
        }

        .features-block-desc {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;

            /* or 200% */

            color: #747474;
        }

        .features-block-img {
            display: flex;
            align-items: center;

            width: 100px;
            height: 100px;
            border-radius: 130px;
            background-color: #d6e5fd;
            margin-bottom: 50px;

            img {
                margin: 22px;
            }
        }
    }

    .features-block + .features-block {
        padding-left: 100px;
    }
}

/* ADVANTAGE */
.advantage {
    .advantage-block {
        display: flex;
        justify-content: space-between;
        max-height: 800px;
        margin-bottom: 150px;

        .advantage-text {
            align-items: center;
            align-self: center;
            text-align: left;
            max-width: 700px;
            transform: translateX(-25%);

            .advantage-text-title {
                margin-bottom: 80px;
                font: normal 600 36px/65px "Poppins";
                color: #212121;
            }

            .advantage-text-desc {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;

                /* or 200% */

                color: #747474;
            }
        }

        .advantage-img {
            & img {
                height: 800px;
                width: 900px;
                border-radius: 0 130px 130px 0;
                background-color: #eef4ff;
            }
        }

        &:nth-child(even) {
            .advantage-text {
                transform: translateX(25%);
            }

            .advantage-img {
                & img {
                    border-radius: 130px 0 0 130px;
                }
            }
        }
    }
}

/* USER PAGING */
.user-paging {
    margin-bottom: 150px;
    min-height: 700px;
    // background-color: #333;

    display: flex;
    justify-content: center;

    .user-paging-block {
        background-image: url("./../images/bg/Mask\ Group.png");
        background-size: cover;

        background-color: #2d76f9;
        max-width: 1540px;
        min-width: 1540px;
        min-height: 500px;

        border-radius: 90px;

        .user-paging-block-row {
            margin-top: 200px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            flex-direction: column;

            .user-paging-block-title {
                margin-bottom: 150px;

                font: normal 600 36px/65px "Poppins";
                text-align: center;
                color: #ffffff;
            }

            .user-paging-block-btn {
                .user-paging-block-btn-row {
                    .btn {
                        text-decoration: none;
                        border-radius: 30px;
                        border: 3px solid #ededed;
                        color: #ffffff;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                        padding: 30px 60px;
                        background-color: rgb(255, 255, 255, 0);

                        &:hover {
                            background-color: #fff;
                            color: #2d76f9;
                        }
                    }

                    .btn + .btn {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}

.testimonial {
    margin-bottom: 150px;
    min-height: 800px;
    background-color: #111;
}

/* FOOTER */
.footer {
    min-height: 650px;
    background-color: #fff;
    // border: 3px solid #ffa;

    .footer-row {
        padding: 200px;

        .footer-nav-wrapper {
            &:last-child {
                .footer-nav {
                    span + span {
                        padding-left: 30px;
                    }
                }
            }

            display: flex;
            justify-content: space-between;

            .footer-nav {
                min-width: 300px;
                max-width: 300px;

                font: normal 500 18px/1.78 "Gilroy";

                .footer-nav-title {
                    text-align: left;
                    padding-left: -80px;
                    padding-bottom: 30px;
                    margin-bottom: 24px;
                    font: normal 600 32px/36px "Poppins";
                    color: #000000;
                }

                ul {
                    padding: 0;
                    margin: 0;
                }

                li {
                    padding-left: 15px;
                    padding: 0;
                    margin: 0;
                    list-style-type:disc;
                    list-style-position: inside;
                    color: #2d76f9;


                    

                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                a {
                    text-decoration: none;
                    font: normal 400 24px/36px "Poppins";
                    color: #747474;

                    &:hover {
                        color: #4d4d4d;
                    }
                }
            }
            .footer-nav + .footer-nav {
                margin-left: 100px;
            }
        }

        .footer-copyright {
            .footer-copyright-logo {
                .logo {
                    margin-bottom: 50px;

                    a {
                        text-decoration: none;
                    }

                    .footer-nav-logo-title {
                        font: normal 700 36px/49px "Nunito";
                        color: #212121;
                    }
                }
            }

            .footer-copyright-desc {
                max-width: 300px;

                font: normal 400 24px/36px "Poppins";


                /* or 200% */

                color: #747474;
            }
        }
    }
}





